[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.0.3"
requests = "2.27.1"
python-dotenv = "0.20.0"
pendulum = "2.1.2"
google-cloud-logging = "*"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.9"
